@media (max-width: 767px) {
    
    .header-wrapper{
        padding: 0 30px;
        box-shadow: 0 0 1rem rgba(0,0,0,0.56 );
        height: 114px;
    }

    .play-icon{
        offset: 20px;
    }
}



@media (max-width: 991px){

.w-80{
    width: 95%;
    margin-top: 2rem;
}



}


@media (min-width: 768px){

    .sec3-heading{
        font-size: 220px;
    }

    .year-text{
        /* text-align: center; */
    }

    
    
    }


  