/* Animation */
@keyframes wheel-animation {
    from {
        transform: translateY(0px) translateX(0px);
    }

    to {
        transform: translateY(11px) translateX(0px);
        opacity: .5;
    }
}




/* common */
*{
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body{
    /* line-height: 1.74; */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* Header section  */


header{
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 1;
    /* height: ; */
}


.header-wrapper{
    padding: 0 30px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.56 );
    height: 5rem;
    position: fixed;
}


.navbar{
    background-color: transparent !important;
}

.navbar-toggler{
    width: 0px;
}
.navbar-toggler:focus{
    width: 0rem;
}

.nav-second-button{
    position: absolute;
    box-shadow: none;
    border-radius: 0%;
    /* right: 10px; */
    /* border: 0; */
}

.nav-outer-menu{
    color: #c8c8c8;
    font-size: 500;
    line-height: 1.18;
    font-size: 16px;

}

.nav-outer-menu:hover{
    text-decoration: underline;
    color: white;
    text-underline-offset: 230%;
    text-decoration-thickness: 3px;
}

.active{
    color: white !important;
}


.navbar-scrolled {
    background-color: #000000; /* Change to the desired background color */
    transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */
}
/* offcanvas menu */

.offcanvas-item{
    /* background-color: black; */
    background: transparent;
    color: #c8c8c8;
    line-height: 4rem;
    transition: all .5s;
    font-weight: 500;
    /* line-height: 2.0; */
}

.offcanvas-item:hover{
    font-size: 2rem ;
    line-height: 6rem;
    color: white;
}


.list-group-item{
    border-color: #302c2c !important;
    font-size: 16px;
    font-size: 500;
    
}


/* home section */

.section1{
    width: 100%;
    height: 117vh;
    
    overflow: hidden;
  }
  .home{
          border-bottom-left-radius: 100% 250px;
          border-bottom-right-radius: 100% 250px;
          width: calc(100% + 100px) ;
          margin-left: -50px;
      overflow: hidden;
  }
  .home-img{
        height: 110vh;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/home.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
  }





.mouse_scroll{
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    bottom: 10% !important;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    cursor: pointer;
}


.mouse{
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
}




.wheel {
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    border-radius: 8px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    margin-top: 5px;
    transition: all 0.5s; /* Added 's' after 0.5 */
    animation: wheel-animation 0.6s linear infinite; /* Added 's' after 0.6 */
}

.mouse_scroll_arrow{
    display: block;
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    width: 16px;
    height: 16px;


}

.text-container{
    color: white;
    display: flex;
    font-weight: bold;
    font-size: 4rem;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    
}


.play-icon{
    width: 78px; /* Set the width of the circle */
    height: 78px; /* Set the height of the circle */
    background-color: #ccccccf7;; /* Set the background color of the circle */
    border-radius: 50%; 
    transition-duration: 1s;
    font-size: 50px;
    
}

.play-icon:hover{
    transform: scale(1.1);
}






/* section -2 */


.text-spacing{
    /* text-align: center; */
    margin-bottom: 20px;
    color: #ababab;
    letter-spacing: 3px;
    line-height: 1.5;
    font-weight: 700;
    font-family:sans-serif;
    

}

.sec2-heading{
    font-size: 24px;
    font-weight: 700;
}


/* Accordion */

.accordion-item{
    font-size: 14px;
    /* padding-left: 15px; */
    font-size: 16px;
    border: none;
    margin-top: 20px;
    box-shadow:0 18px 40px rgba(51, 51, 51, 0.1) ;

}


.accordion-button:not(.collapsed){
    background-color: #3586e1;
    box-shadow: none;
    color: white;
}


.accordion-button:focus{
    border-color: white !important;
}


.accordion-header.accordion-button:not(.collapsed){
    color: white;
}


.accordion-para{
    color: #696969;
    font-family: sans-serif;
    line-height: 1.7;

}



/* section-3 */
#section3{
    /* margin-top: 10vh; */
    margin: 10vh 50px;
    font-size: 24px;
    font-family: sans-serif;
    


}


.sec3-heading{
    /* margin-top: 10vh; */
    margin-left: 10px;
    line-height: 0.8;
    font-weight: 900;
    color: transparent;
    font-size: 140px;
    font-weight: 900;
    /* -webkit-text-fill-color: black transparent; */
    -webkit-text-stroke: 5px #058df3;
}


.sec3-heading:hover{
    -webkit-text-fill-color: #058df3;
}


.year-text{
    font-size: 12px;
    line-height: 2em;
    letter-spacing: 2px;
    color: #ababab;
    font-weight: bold;
    font-family: sans-serif;

}


.counter-box{
    color: white;
}


.counter-number{
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    margin-bottom: 19px;
}


.counter-name{
    color: #71c7f7;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.3;
}





.sec3-content{
    font-weight: 700;
    line-height: 1.3;
    font-family: sans-serif;
    
}



/* section-4  */


#section-4{
    margin-top: 20vh;
}


.text-primary{
    color: #3586e1 !important;
}






.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    border:2px solid #3586e1 !important;
    background-color: white;
    color: #3586e1 !important;
    padding: 1rem;
    
}

.nav-pills:hover{
    color: white;
    
}



.nav-tab-heading{
    text-align: justify;
    color: #333333 !important;
    font-weight: 700 !important;
    font-family: sans-serif;

    
}

.nav-pills .nav-link{
    border-radius: 10px;
    
}

.nav-pill > li{
    border: 2px solid blc;
}


.nav-tab-description{
    color: #696969;
    line-height: 1.74;
    font-family: sans-serif;
    /* text-align: justify; */

}


.nav-pills > .nav-item{
    padding: 12px 13px 12px;
    min-width: 150px;
    line-height: 1.3;
    margin-bottom: 10px;
    letter-spacing: 1px;
    border: rgb(237,237,237);
    background: #fff;
    border-radius: 15px !important;
}


.tabs-menu li a{
    padding: 12px 13px 12px;
    min-width: 150px;
    font-weight: 500;
    line-height: 1.3;
    border: 1px solid #ededed !important;
    background-color: #fff;
    border-radius: 15px !important;
    letter-spacing: 1px;
    padding: 1rem;



}






/* section 5 */

#section-5{
    margin-top: 30vh;
    background: #f2f6f9;
    height: fit-content
}

.section5-heading{
    font-size: 18px;
    color: #333333;
    font-family: sans-serif;
    margin-bottom: 12px;
    font-weight: bold;
    
}


.section5-cards{
    /* border: 2px solid red; */
    transition: all 1s;
    padding: 50px;
    word-wrap: break-word !important;
}

.section5-cards:hover{
    /* transform: scale(1.1); */
    background: white;
    transform: translateY(-20px);
}

.show-more-less-btn{
    color: #086AD8 !important;
    cursor: pointer;
}




/* section 6 */
#section-6{
    margin-top: 20vh;
}


.section6-number{
    font-size: 160px;
    line-height: 0.8;
    font-weight: 700;
    color: #ededed;
    z-index: -1;
    right: 0px;
    top: 0px;
}


.section6-number:hover{
    color: #058df3 !important;
}


.steps{
    position: relative;
    font-size: 15px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 35px 80px 35px 42px;
    z-index: 1;
    font-weight: bold;
}

.line{
    z-index: -1;
    top: 10px;
}

.bubble{
    width: 50px;
    height: 50px;
    background-color: white;
    border: 2px solid #e8e8e8;
    box-shadow: 1px 1px 1px grey;
    border-radius: 50%;
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    color: #333333;

    
}


.section6-heading{
    font-weight: 500;
    /* font-weight: bold; */
    font-size: 18px;
    color: #333333;
    font-family: sans-serif;
    line-height: 1.3;
}




/* section-7 */

#section7{
    margin-top: 10vh;
    height: 60vh;
}


.section7-content{
    height: 50vh;
    background-color: #202124;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/map.png);
    background-position: cover;
    background-repeat: no-repeat;
    box-sizing: content-box;

}



.vertical-line{
    /* border-left: #058df3; */
    /* border-width: 10px; */
    border: 2px solid #058df3 ;
    
}

.sec7-para{
    font-family: sans-serif;
}


/* section-8 */

#section-8{
    height: 100vh;
}


.swiper-card{
    
    height: 65vh;
    
}



#section-9{
    background: #f2f2f2;
    height: 80vh;
}

.section9-heading{
    color: #ababab;
    font-size: 17px;
    letter-spacing: 3px;
    line-height: 1.43;
   


}







#section-10{
    position: relative;
}



.contact-img{
        position:absolute;
        height: fit-content;
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/contact.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        left:0;
        right:0;
}

.form{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    
}


.form input, .form textarea{
    background-color:#f8f6f6;
    line-height: 3rem;
}

.details{
    background: transparent;
}


.contact-heading{
    color:#ffff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.78;
    margin-bottom: 13px;
    color: rgba(255,255,255,0.8);
}


.contact-info{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.17;
}